:root {
  --icon-height: 16px;
  --gap-of-grid: 10px;
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

#side-nav {
  grid-row: 1 / 3;
  background-color: #f59e0b;
  display: grid;
  grid-template-rows: 1fr 6fr 3fr 6fr;
  padding: 8px;
  align-items: center;
  position: sticky;
  color: #fef3c7;
}

#side-nav h2 {
  font-size: 16px;
}

#side-nav .top-of-nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: end;
  gap: var(--gap-of-grid);
}

#side-nav .middle-of-nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(6, 1fr);
  gap: var(--gap-of-grid);
  align-items: right;
  justify-items: end;
}

#side-nav .middle-of-nav:nth-child(odd) {
  justify-items: end;
}

#side-nav h2 {
  justify-self: start;
}

#side-nav .bottom-of-nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--gap-of-grid);
  align-items: center;
  justify-items: end;
}

#main-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  background-color: #fffbeb;
  padding: 12px 30px;
  row-gap: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 0.2);
  z-index: 9999;
}

#main-content {
  background-color: #fcd34d;
  display: grid;
  grid-template-columns: 10fr 3fr;
  grid-template-rows: 0.2fr 8fr;
  row-gap: 8px;
  padding: 8px 20px;
}

#main-content .cards {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 5fr 5fr 3fr;
  grid-template-rows: auto auto auto auto auto auto;

  gap: 16px;
}

#main-content .side-overlapped {
  grid-row: span 3;
  background-color: #fef3c7;
  border-radius: 8px;
  padding: 24px 20px;
}

#main-content .cross-three {
  grid-row: span 3;
  background-color: #fef3c7;
  border-radius: 8px;
  padding: 24px 20px;
}

#main-content .card {
  grid-row: span 2;
  background-color: #fef3c7;
  border-radius: 8px;
  padding: 24px 20px;
  border-left: 6px solid #b45309;
}

#main-content p {
  color: #78350f;
  font-size: 14px;
}

.end-icons {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

.three-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.top-portion {
  display: flex;
  justify-content: space-between;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 12px;
  flex-grow: 1;
  padding-right: 30px;
  max-width: 540px;
}

.search input {
  background-color: #d3d3d3;
  border-radius: 16px;
  height: 24px;
  border: none;
}

.icon-single {
  height: var(--icon-height);
}

.top-portion .icons {
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-items: center;
  column-gap: 20px;
  align-items: center;
}

.icons h2 {
  font-size: 16px;
}

.bottom-portion {
  display: flex;
  justify-content: space-between;
}

.greetings {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.greetings .name {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.greetings .name p {
  font-size: 12px;
  align-self: end;
}

.greetings .name h1 {
  font-size: 24px;
}

.bottom-portion .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.primary-button {
  padding: 8px 24px;
  border-radius: 24px;

  font-size: 12px;
  border: none;
  background-color: #92400e;
  color: #fffbeb;
  align-self: center;
  justify-self: center;
}
